{{>gamepage-header}}
<div class="columns">

    <!-- user profile section -->
    <div class="column userProfile">
      <h2 class="column"><a href="/profile/{{user.username}}" style="text-decoration: none;color: hsl(27, 100%, 50%)" >{{user.username}}</a></h2>
      <div class="userStats">
        <h4 class="column">Email: {{user.email}}</h4>
        <h4 class="column">Info: {{user.info}}</h4>
        <h4 class="column">recent scores</h4>
        <h4 class="column">recent post</h4>
        <button id="player" class="column">play radio</button>
      </div>
    </div>

    <!-- main display section -->
    <div class="column block glow is-three-fifths"> Game could be placed here.</div>

    <!-- high score section -->
    <div class="column leaderBoard">
      <h2 class="column">Leader Board</h2>
      <ol class="column">
        {{#each times as |time|}}
        <li>{{time.user.username}}: {{time.time}}</li>
        {{/each}}
      </ol>
    </div>
  </div>
  <!-- comment section -->
 {{#each comments as |comment|}}
 {{>comment-section comment}}
 {{/each}}
  <article class="media">

    <div class="media-content">
      <form id="commentForm">
        <div class="field">
          <p class="control">
            <textarea class="textarea" name="comment_text" placeholder="Add a comment..."></textarea> 
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button" type="submit">Post comment</button>
          </p>
        </div>
      </form>  
    </div>
  </article>

<script src="javascript/logout.js"></script>
<script src="javascript/comment.js"></script>
</body>

</html>